<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ldap User Management</display-name>
  
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserDetails</servlet-name>
    <servlet-class>servlets.UpdateUserDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserStatus</servlet-name>
    <servlet-class>servlets.UpdateUserStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountRequest</servlet-name>
    <servlet-class>servlets.AccountRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AcceptRequest</servlet-name>
    <servlet-class>servlets.AcceptRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminHandler</servlet-name>
    <servlet-class>servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>servlets.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlets.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrganisation</servlet-name>
    <servlet-class>servlets.AddOrganisationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateGroup</servlet-name>
    <servlet-class>servlets.CreateGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckType</servlet-name>
    <servlet-class>servlets.CheckTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>servlets.AddGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddGroupUser</servlet-name>
    <servlet-class>servlets.AddGroupUserServlet</servlet-class>
  </servlet>


  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUser</servlet-name>
  	<url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserDetails</servlet-name>
  	<url-pattern>/UpdateUserDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserStatus</servlet-name>
  	<url-pattern>/UpdateUserStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountRequest</servlet-name>
  	<url-pattern>/AccountRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AcceptRequest</servlet-name>
  	<url-pattern>/AcceptRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminHandler</servlet-name>
  	<url-pattern>/AdminHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
  	<url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrganisation</servlet-name>
  	<url-pattern>/AddOrganisation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateGroup</servlet-name>
  	<url-pattern>/CreateGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckType</servlet-name>
  	<url-pattern>/CheckType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
  	<url-pattern>/AddGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGroupUser</servlet-name>
  	<url-pattern>/AddGroupUser</url-pattern>
  </servlet-mapping>
</web-app>
